
.navbar {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position:sticky;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: inline-flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  color: #1a1a1a;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #f5b47a;
}
.icons{
  position: relative;
}
.cart-count{
  position: absolute;
  left: -5px;
  bottom: -5px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e6a94e;

  color: #fff;
  padding: 6px;
}
.header-icons{
  display: flex;
  gap: 20px;
}
.head-icon{
  background-color: #1a1a1a;

  color: #fff;
  padding: 10px;
  border-radius: 50%;
}

/* .arrow::after {
  content: "▾";
  font-size: 10px;
  margin-left: 5px;
  vertical-align: middle;
} */

/* Active/selected item style (optional, can make dynamic) */
.nav-links > a:first-child .nav-item {
  color: #f5b47a;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Remove default Link styling */
.nav-links a {
  text-decoration: none;
}
