.navbar {
  background-color: white;
  /* width:100vw; */
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  color: #1a1a1a;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 0%;
  border-bottom: .2rem solid #ff7e00;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all 0.5s linear;
}

.nav-item:hover::after {
  width: 100%;
}

.icons {
  position: relative;
}

.cart-count {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff7e00;
  color: #fff;
  padding: 6px;
}

.header-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.head-icon {
  background-color: #1a1a1a;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-links .nav-item {
  text-decoration: none;
}

/* Mark: NEW active class for nav items */
.nav-item.active {
  color: #ff7e00;
}


@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 998;
  }

  .nav-links.open {
    right: 0;
  }

  .hamburger {
    display: block;
  }
}